<div class="main" [ngStyle]="{'background-image':getImagePath()}">
    <div class="blur">
        <div class="container">
            <div class="halfContainer">
                <div class="title">
                    {{movieDetail.title}}
                </div>
                <div class="ratingBlock">
                    <div>{{getAvgRating()}}</div>
                    <div>{{getGenres()}}</div>
                    <div>{{getReleaseDate()}}</div>
                </div>
                <div class="description">
                    <p>{{movieDetail.overview}}</p>
                </div>
                <div class="buttonBlock">
                    <button class="playNowButton"><mat-icon fontIcon="play_arrow"></mat-icon><b>PLAY NOW</b></button>
                    <button class="trailerButton" (click)="openDialog()"><b>TRAILER</b></button>
                </div>
            </div>
            <div class="halfContainer">
                <div class="postersContainer">
                    <div class="postersTitle">
                        Poster
                    </div>
                    <div class="postersRow">
                        @for (posterKey of moviePosters; track $index) {
                        <img [src]="getPosterURL(posterKey)" alt="" />
                        }
                    </div>
                </div>
                <div class="actorsContainer">
                    <div class="actorsTitle">
                        Actors
                    </div>
                    <div class="actorsRow">
                        @for (actor of movieCast; track $index) {
                        <div class="actorCard">
                            <img [src]="getPosterURL(actor.profile_path)" [alt]="actor.name" />
                            <p>{{actor.name}}</p>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>