main{
    width: 100%;
    height: 100%;
    display: flex;
    // background-color: aquamarine;
}

.notesListContainer{
    width: 50%;
    height: 100%;
}

.editorContainer{
    margin-top: 75px;
    width: 50%;
    height: 100%;
}