nav{
    display: flex;
    justify-content: space-around;
    background-color: #eb0000;
    height: 50px;
    div{
        align-content: center;
        font-weight: bold;
    }
    color: white;
}
ul{
    display: flex;
    list-style-type: none;
    cursor: pointer;
    li{
        align-content: center;
        margin-left: 40px;
    }
}