<main>
    <div class="step1content">
        <div class="step1container">
            <img class="step1img" src="/assets/register/devices.png" alt="" />
            <div class="step">STEP 1 OF 3</div>
            <div class="line1">Finish setting up your account</div>
            <div class="line2">Netflix is personalized for you.</div>
            <div class="line2">Create a password to watch on any device at any time.</div>
            <button [routerLink]="['/register/step2']">Next</button>
        </div>
    </div>
</main>