<!-- <main>
    <div class="movieListContainer">
        @for (movie of movieList; track $index) {
            <app-movie-item class="movieItem" [movie]="movie"></app-movie-item>
        }
    </div>
</main> -->

<!-- ---infinite scroll--------------------------------------- -->

<main #main>
    <cdk-virtual-scroll-viewport id="virtualViewPort" #virtualViewPort itemSize="50">
        <app-movie-item *cdkVirtualFor="let movie of movieList" class="movieItem" 
        [movie]="movie"
        ></app-movie-item>
    </cdk-virtual-scroll-viewport>
</main>