/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

$input-color: rgb(196, 195, 196);
$list-color: rgb(244, 243, 244);
$box-shadow-color: rgb(97, 96, 97);


.nav{
  display: flex;
  background-color: $input-color;
  justify-content:space-around;
  align-items: center;
  font-size: 20px;
  min-height: 40px;
}

.pageLayout{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.searchResults{
  width: 60%;
}

.wishlist{
  margin-top: 100px;
  width: 40%;
  overflow-y: auto;
}
