<div class="main">
    <div class="blur">
        <div class="moviePosterContainer">
            <div class="posterContent">
                <div class="boxShadow">
                    <img class="posterImg boxShadow" src="/assets/movieList/stranger_things.png" alt="" />
                </div>
            </div>
        </div>
        <div class="movieInfo">
            <div class="movieTitle">
                <div>Stranger Things</div>
            </div>
            <div class="movieRating">
                <div class="val">2022</div>
                <div class="val">EN</div>
                <div class="val">8.5</div>
            </div>
            <div class="moviePlotBrief">
                <div>Puss in Boots discovers that his passion for adventure has taken its toll. He has burned thr...
                </div>
            </div>
            <div class="moreDetailsContainer">
                <button class="moreDetailsButton">
                    More Details
                </button>
                <!-- <div class="moreDetailsButton">
                    More Details
                </div> -->
            </div>
        </div>
    </div>
</div>