<div #main class="main" [ngStyle]="{'background-image':getImagePath()}" (click)="navigateToDetails()">
    <div class="blur" *ngIf="!isLoading()">
        <div class="moviePosterContainer">
            <div class="posterContent">
                <div>
                    <!-- <img class="posterImg boxShadow" src="/assets/movieList/stranger_things.png" alt="" /> -->
                    <img class="posterImg boxShadow" [src]="getImageURL()" alt="" />
                </div>
            </div>
        </div>
        <div class="movieInfo">
            <div class="movieTitle">
                <!-- <div>Stranger Things</div> -->
                <div [title]="movie.title">{{movie.title}}</div>
            </div>
            <div class="movieRating">
                <!-- <div class="val">2022</div>
                <div class="val">EN</div>
                <div class="val">8.5</div> -->
                <div class="val">{{getReleaseDate()}}</div>
                <div class="val">{{movie.original_language}}</div>
                <div class="val">{{getAvgRating()}}</div>
            </div>
            <div class="moviePlotBrief">
                <!-- <div>Puss in Boots discovers that his passion for adventure has taken its toll. He has burned thr...</div> -->
                <div>{{getMovieOverview()}}</div>
            </div>
            <div class="moreDetailsContainer">
                <button class="moreDetailsButton">
                    More Details
                </button>
                <!-- <div class="moreDetailsButton">
                    More Details
                </div> -->
            </div>
        </div>
    </div>
    <div *ngIf="isLoading()" class="loadingSpinnerContainer">
        <mat-spinner [diameter]="200" [strokeWidth]="5"></mat-spinner>
    </div>
</div>