<div class="landingContainer">
    <div class="blurLayer">
        <div class="content">
            <h1>Unlimited movies, TV shows, and more</h1>
            <h2>Watch anywhere. Cancel anytime</h2>
            <h5>ready to watch? enter your email to create or restart your membership</h5>
            <div class="input_container">
                <input class="email_input" type="text" placeholder="Email Address" />
                <button class="start_button" type="submit"[routerLink]="['/register']"> 
                    <b>Get Started ></b>
                </button>
            </div>
        </div>
    </div>
</div>