<main>
    <div class="step2content">
        <div class="step2container">
            <div class="step">STEP 2 OF 3</div>
            <h3 class="para">Create a password to start your membership</h3>
            <p class="para subtext">Just a few more steps and you're done!</p>
            <p class="para subtext">We hate paperwork, too.</p>
            <mat-form-field class="loginUsername" appearance="fill">
                <mat-label>Enter your Email*</mat-label>
                <input type="email" matInput formControlName="email" />
            </mat-form-field>
            <mat-form-field class="loginPassword" appearance="fill">
                <mat-label>Enter your Password</mat-label>
                <input type="password" matInput formControlName="password" />
            </mat-form-field>
            <button [routerLink]="['/register/step3']" class="submitBtn" type="submit">
                Next
            </button>
        </div>
    </div>
</main>